@import "./../var.scss";
@import "./../svgFunctions.scss";
body {
    background-color: $lightBlue;   
}

.container {
    padding: 1rem;
    text-align: center;
    margin: auto;
    width: 70%;
    
    h1, p {
        color: $doorColorChanged;
        
    }

    h1 {
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 40px;
        padding: 4rem;
    }

    ul {
        @include svgImageSize;
            a {
                text-decoration: none;
                &:visited {
                    color: black;
                }
            }
        font-size: 1.5rem;
        display: grid;
        grid-gap: 3rem;
        list-style: none;
        grid-template-columns: repeat(3, 1fr);
    }

    li{
        background-color: $white;
        border-radius: 3rem;
        padding: 0.8rem;

     i {
        font-size: 4rem;
        color: #15aabf;
        }
    }

}





