@import "./../var.scss";

#donation {
    position: relative;
    overflow: hidden;
    color: $white;
    .background {
        background-image: url("./../../assets/images/communityBackground.svg");
        width: 100vw;
        height: 120vh;
        position: absolute;
        z-index: -4;
        top: -10rem;
    }
    h1 {
        text-align: center;
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
        padding: 0 6rem;
    }

    .donate {
        border: none;
        background-color: $yellow;
        color: $white;
        padding: 2rem 8rem;
        border-radius: 5rem;
        font-weight: bold;
        font-size: 2rem;
        position: absolute;
        top: 85vh;
        left: 50%;
        transform: translateX(-50%);
    }
    
}