@import "./../var.scss";
@import "./../patternBackground.scss";

footer {
    $height: 32vh;
    width: 100vw;
    color: $white;
    overflow: hidden;
    height: $height;
    display: flex;
    justify-content: center;
    position: relative;
    
    @include patternBackground($black, 100vw, $height);
    ul {
        list-style: none;
        padding: 0;
        li {
            display: flex;
            margin: 1rem auto;
            .logo {
                margin-right: 1rem;
            }
        }
    }
    
    .content {
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        z-index: 0;
        .contactUs {
            ul {
                color: $lightGreen;
            }
        }

        .newsLetter {
            $height: 2rem;
            $width: 30vw;
            h1 {
                text-align: center;
            }
            input {
                height: $height;
                width: $width;
                text-align: center;
                font-size: 1rem;
                border-radius: 0.4vw;
                border: none;
            }

            button {
                height: $height;
                width: $width/3;
                border-radius: 0.4vw;
                border: none;
                background-color: $yellow;
                color: $white;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    
}