@import "./../var.scss";
#home {
    background: url("./../../assets/images/HomeBackground.svg");
    background-size: cover;    
    display: flex;
    flex-direction: column;
    align-items: center;

    .topNav {
        background-color: $white;
        display: flex;
        justify-content: space-around;
        width: 100vw;
        .con {
            max-width: $maxWidth;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            padding: 0 5rem;
        }
        ul {
            margin: 0;
            list-style: none;
            display: flex;
            gap: 2rem;
            font-weight: bold;
            li {
                padding: 0.5rem 0;
                cursor: pointer;
            }
            .active {
                color: $brown;
            }
            i {
                font-size: 1.5rem;
            }
        }
    }

    .content { 
        display: grid;
        height: 89vh;
        padding: 0 9vw;
        max-width: $maxWidth;
        grid-template-areas: "Info Logo Logo"
        "button button button"
        "arrow arrow arrow";
        margin-top: 10vh;
        .info {
            grid-area: Info;
            color: $white;
            h1 {
                font-weight: normal;
                font-size: 4rem;
                margin: 0;
            }
            p {
                font-size: 2rem;
            }
        }

        .home_logo {
            grid-area: Logo;
            $animation-speed: 2s;
            #mosque {
                width: 25vw;
            }
        }

        .buttonLink {
            grid-area: button;
            margin-left: 50%;
            transform: translateX(-50%);
            width: 27rem;
            height: 4rem;
            button {
                border: 0;
                width: 100%;
                height: 100%;
                background-color: $lightBlue;
                color: $white;
                font-size: 2rem;
                border-radius: 15rem;
                cursor: pointer;
            }
        }

        .arrowLink {
            grid-area: arrow;
            text-align: center;
            i {
                font-size: 4rem;
                color: $lightBlue;
                position: relative;
                cursor: pointer;
                &::before {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    animation: arrowAnimation 1s ease-in-out infinite alternate;
                    
                }
            }
        }
        
        
    }
    
}

@keyframes arrowAnimation { 
    from {
        top: -6vh;
    }
    to {
        top: -3vh;
    }
}


@media only screen and (max-width: $phoneSize) {
    #home {
        background: $backgroundMain;
        .content {
            margin-top: 1rem;
            text-align: center;
            grid-template-areas: "Logo"
            "Info"
            "button"
            "arrow";
            h1 {
                font-size: 2rem !important;
                font-weight: 600;
            }
            p {
                font-size: 1.2rem !important;
                width: 98vw;
                margin: 1rem auto auto auto;
                
            }
            button {
                width: 25rem;
            }
        }
    }
}