@import "./../var.scss";
#home {
    background: url("./../../assets/images/HomeBackground.svg");
    .topNav {
        background-color: $white;
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
        ul {
            margin: 0;
            list-style: none;
            display: flex;
            gap: 2rem;
            font-weight: bold;
            li {
                padding: 0.5rem 0;
                cursor: pointer;
            }
            .active {
                color: $brown;
            }
            i {
                font-size: 1.5rem;
            }
        }
    }

    .content { 
        display: grid;
        height: 89vh;
        padding: 0 9vw;
        grid-template-areas: "Info Logo Logo"
        "button button button"
        "arrow arrow arrow";
        margin-top: 10vh;
        .info {
            grid-area: Info;
            color: $white;
            h1 {
                font-weight: normal;
                font-size: 4rem;
                margin: 0;
            }
            p {
                font-size: 2rem;
            }
        }

        .logo {
            grid-area: Logo;
            img {
                width: 30vw;
            }
        }

        button {
            grid-area: button;
            border: 0;
            width: 20vw;
            background-color: $lightBlue;
            color: $white;
            font-size: 2rem;
            border-radius: 10vw;
            margin-top: 5vh;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        i {
            text-align: center;
            grid-area: arrow;
            font-size: 4rem;
            color: $lightBlue;
        }
        
    }
    
}
