@import "./../var.scss";
@import "./services.scss";
@import "./home.scss";
@import "./prayer.scss";
@import "./resources.scss";
@import "./events.scss";
@import "./donation.scss";
@import "./footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    font-size: 16px;
    // height: 100vh;
}

.scroll-container { 
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}


section {
    height: 100vh;   
    overflow: hidden;
    scroll-snap-align: start;
}

footer {
    scroll-snap-align: end;
}

a {
    all: unset;
}

@media only screen and (max-width: $smallLaptopScreen) { 
    body {
        font-size: 14px;
    }
}