@import "./../var.scss";
@import "./../svgFunctions.scss";
@import "./../frosty.scss";
nav {
    @include svgImageSize;
    border-bottom: 1px solid $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 40vw;
        
        a {
            color: $white;
            text-decoration: none;
            display: flex;
            flex-direction: column;
        }
        
    }
}