@import "./../var.scss";
@import "./../frosty.scss";
@import "./prayerTimes.scss";

$_sunset: linear-gradient(to top, #040308, #AD4A28, #DD723C, #FC7001, #DCB697, #9BA5AE, #3E5879, #020B1A);

#prayer_section {
    display: none;
    background: $_sunset;
    position: relative;
    margin-top: -1rem;
    #blur {
        height: 55vh;
        width: 85vw;
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        @include frosty;
    }
    .prayerTimes {
        position: absolute;
        z-index: 2;
        display: flex;
        text-align: center;
        width: 80vw;
        justify-content: space-between;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // .prayTimeCard {
        //     font-size: 3rem;
        //     .name{
        //         font-weight: bold;
        //         display: none;
        //     }
        //     .time {
        //         display: none;
        //     }
        // }
    }
}

@media only screen and (max-width: $phoneSize) { 
    #prayer_section {
        display: none;
    } 
}