@import "./../var.scss";
@import "./nav.scss";
@import "./../frosty.scss";

@mixin tab($color) {
    background-color: $color;
    color: $white;
    width: 30vw;
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    .triangle {
        $triangle: 2.5rem;
        padding: 0;
        margin: 0;
        border-top: $triangle solid transparent;
        border-bottom: $triangle solid transparent;
        border-left: $triangle+2rem solid $white;
    }
    .title {
        font-size: 2rem;
        margin-left: 2rem;
    }
}

#resources {
    position: relative;
    .background {
        background: url("./../../assets/images/ResourcesBackground.svg");
        background-size: cover;
        height: calc(100vh + 1rem);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        margin: -1rem;
    }

    .content {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        justify-content: space-around;
        .tabs {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .tab:first-child {
                @include tab($red);
            }
            .tab:nth-child(2) {
                @include tab($lightGreen);
            }
            .tab:nth-child(3) {
                @include tab($purple);
            }
            .tab:nth-child(4) {
                @include tab($brown);
            }
            .tab:nth-child(5) {
                @include tab($darkGreen);
            }
        }
        .info {
            width: 50vw;
            height: 70vh;
            align-self: center;
            position: relative;
            .frosty {
                @include frosty;
                width: 50vw;
                height: 70vh;
                position: absolute;
                z-index: -1;
            }
            .content {
                color: $white;
                padding: 1rem 2rem;
                font-size: 1.5rem;
            }
        }

    }


    
}