@import "./../var.scss";
@import "./../frosty.scss";

@mixin tab($color) {
    $width: 30vw;
    $triangle: $width/14.2;
    background-color: $color;
    color: $white;
    width: $width;
    display: flex;
    align-items: center;
    cursor: pointer;
    .triangle {
        padding: 0;
        margin: 0;
        border-top: $triangle solid transparent;
        border-bottom: $triangle solid transparent;
        border-left: $triangle+1vw solid $white;
    }
    .title {
        font-size: 2rem;
        margin-left: 4%;
    }

    &.selected {
        .triangle {
            border-left: $triangle+1vw solid $brown;
            transition: all 0.4s ease-in-out;
        }    
    }

    @media only screen and (max-width: $smallLaptopScreen) { 
        width: 100vw;
        .triangle {
            $triangle: $width/14.2;
            border-top: $triangle+4vw solid transparent;
            border-bottom: $triangle+4vw solid transparent;
            border-left: $triangle+4vw solid $white;
        }
    }
}

#resources {
    position: relative;
    background: url("./../../assets/images/ResourcesBackground.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    .background {
        background: url("./../../assets/images/ResourcesBackground.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        margin: -1rem;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin-top: 15vh;
        padding: 0 3vw;
        .tabs {
            display: grid;
            justify-content: space-around;
            gap: 2rem;
            width: 30vw;
            .tab:first-child {
                @include tab($red);
            }
            .tab:nth-child(2) {
                @include tab(darken($darkBlue, 10));
            }
            .tab:nth-child(3) {
                @include tab($purple);
            }
            .tab:nth-child(4) {
                @include tab($brown);
            }
            .tab:nth-child(5) {
                @include tab($lightBlue);
            }
        }
        .info {
            width: 50vw;
            height: 70vh;
            align-self: center;
            position: relative;
            overflow: hidden;
            @include frosty;
            .explanation {
                display: none;
                color: $white;
                padding: 4rem 2rem;
                font-size: 1.3rem;
                height: 100%;
                overflow-y: scroll;
                &.selected {
                    transition: all 0.2s ease-in-out;
                    display: inherit;
                }
            }
            
        }

    }   
}

@media only screen and (max-width: $smallLaptopScreen) { 
    #resources {
        background: $backgroundMain;
        .content {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,1fr);
            padding: 0;
            height: 80vh;
            margin-top: 14vh;

            
            .info {
                width: 90%;
                height: 80%;
                align-self: start;
                padding: 2%;
                justify-self: center;
                margin: 1vw 0;
                .explanation {
                    padding: 1rem;
                    font-size: 1rem;
                }
            }
            .tabs {
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: auto;
                gap: 1rem !important;
                margin-left: 35vw;
            }
        }
    }
}