@import "./../var.scss";

@mixin card($color) {
    position: relative;
    width: 14vw;
    color: $white;
    .logo {
        border: $color 1rem solid;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        display: grid;
        justify-content: center;
        margin-left: 50%;
        transform: translateX(-50%);
        img{
            margin-top: 0.4rem;
        }
    }
    
    .body {
        background-color: $color;
        position: absolute;
        top: 5rem;
        border-radius: 2rem;
        padding: 1rem;
        height: 30vh;

        .title {
            text-align: center;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
        hr {
            border: $white 0.15rem solid;
        }
    }
}


#services {
    .background {
        background: url("./../../assets/images/servicesBackground.svg");
        width: 100vw;
        height: 20vh;
        position: absolute;
        z-index: -1;
        top: 80vh;
    }
    
    #title {
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        margin-top: 10vh;
    }
    
    #row {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 10vh;
        #schooling {
            @include card($red);
        }
        #prayer {
            @include card($lightGreen);
        }
        #resources {
            @include card($lightBlue);
        }
        #events {
            @include card($brown);
        }
        #community {
            @include card($darkGreen);
        }
    }

    i {
        color: $white;
        position: absolute;
        top: 90vh;
        font-size: 4rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }

}
