@import "./../var.scss";
@import "./../svgFunctions.scss";

@mixin card($color) {
    position: relative;
    width: 14vw;
    height: 30vh;
    color: $white;
    background-color: $white;
    .logo {
        border: $color 1rem solid;
        width: 10vw;
        height: 5vw;
        border-bottom: 0;
        border-top-left-radius: 10vw; 
        border-top-right-radius: 10vw;
        display: grid;
        justify-content: center;
        margin-left: 50%;
        transform: translate(-50%,5%);
        @include svgImageSize;
        img{
            padding-top: 0.9rem;
        }
    }
    
    .body {
        background-color: $color;
        top: 5rem;
        border-radius: 2rem;
        padding: 1rem;
        height: 30vh;
        overflow: hidden;

        .title {
            text-align: center;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
        hr {
            border: $white 0.15rem solid;
        }
    }

    @media only screen and (max-width: $phoneSize) {
        width: 60vw;       
        height: 70vh;
        .logo {
            display: none;
        }
        .body {
            height: 50vh;
        }
    }
}

@mixin smallDevicesStyle($itemsInView) {
    #services {
        .container {
            height: 100vh;
        }
        .background {
            display: none;
        }
        .slider {
            overflow-x: scroll;
            #row {
                margin-top: 0 !important;
                position: relative;
                left: 0;
                z-index: 2;
                width: calc(500% / #{$itemsInView});
                display: flex;
                gap: 1vw;
            }
        }
    }
}


#services {
    position: relative;
    .background {
        background: url("./../../assets/images/servicesBackground.svg");
        width: 100vw;
        height: 20vh;
        position: absolute;
        z-index: -1;
        top: 80vh;
    }
    
    #title {
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        padding-top: 10vh;
        margin-top: 0;
    }
    
    #row {
        display: grid;
        justify-content: space-evenly;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(5, 1fr);
        margin-top: 10vh;
        margin-left: 3vw;
        
        #schooling {
            @include card($red);
        }
        #prayer {
            @include card($lightGreen);
        }
        #resources {
            @include card($lightBlue);
        }
        #events {
            @include card($brown);
        }
        #community {
            @include card($darkGreen);
        }
    }

    i {
        color: $white;
        position: absolute;
        top: 190vh;
        font-size: 4rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }

}
@media only screen and (max-width: $phoneSize) {
    @include smallDevicesStyle(1.5);
}