@import "./../var.scss";
@import "./../svgFunctions.scss";

@mixin card($color) {
    position: relative;
    color: $white;
    background-color: $white;
    scroll-snap-align: center;
    .logo {
        border: $color 1rem solid;
        width: 40%;
        height: 22%;
        border-bottom: 0;
        border-radius: 0;
        border-top-left-radius: 50%; 
        border-top-right-radius: 50%;
        display: grid;
        justify-content: center;
        margin-left: 50%;
        transform: translate(-50%,5%);
        @include svgImageSize;
        img{
            padding-top: 0.9rem;
        }
    }
    
    .body {
        background-color: $color;
        top: 5rem;
        border-radius: 2rem;
        padding: 1rem;
        height: 30vh;
        overflow: hidden;

        .title {
            text-align: center;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
        hr {
            border: $white 0.15rem solid;
        }
    }
}



#services {
    position: relative;
    .background {
        background: url("./../../assets/images/servicesBackground.svg");
        width: 100vw;
        height: 20vh;
        position: absolute;
        z-index: -1;
        top: 80vh;
    }
    
    #title {
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        padding-top: 10vh;
        margin-top: 0;
    }
    
    #row {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10vh;
        margin-left: 3vw;
        gap: 2vw;
        
        #schooling {
            @include card($red);
        }
        #prayer {
            @include card($backgroundMain);
        }
        #resources_card {
            @include card($lightBlue);
        }
        #events {
            @include card($brown);
        }
        #community {
            @include card($darkGreen);
        }
    }

    i {
        color: $white;
        position: absolute;
        top: 190vh;
        font-size: 4rem;
        margin-left: 50%;
        transform: translateX(-50%);
    }

}
@media only screen and (max-width: $phoneSize) {
    #services {
        #title {
            padding-top: 2vh;
        }
        .background {
            display: none;
        }
        .slider {
            display: grid;
            align-items: center;
            justify-content: center;
            overflow: auto;
            height: 80vh;
            scroll-snap-type: y proximity;
            scroll-behavior: smooth;
            scroll-snap-stop: always;
            #row {
                flex-direction: column;
                width: 80vw;    
                gap: 6vh;
            }
        }
    }
    

}