$white: #ffffff;
$black: #000000;
$darkGreen: #048642;
$brown: #BB7D2B;
$darkBlue:#2e435f;
$red:#BB2B2B;
$pink: #BB2B5C;
$lightBlue:rgb(18, 122, 156);
$purple: #2B5BBB;
$yellow: #caa500;
$darkBrown: #ca6735;


//theme colors
$backgroundMain: $darkBlue;

//mosoqe colors
$qoba_color: #cead00;
$house_color: #2c4694;
$middleDoor: $darkBrown;
$doorColor: rgb(224, 194, 24);
$doorColorChanged: white;

//responsive
$maxWidth: 1920px;

//screen sizes
$phoneSize: 812px;
$smallLaptopScreen: $phoneSize;
