$white: #ffffff;
$black: #000000;
$darkGreen: #048642;
$brown: #BB7D2B;
$lightGreen:#048642;
$red:#BB2B2B;
$pink: #BB2B5C;
$lightBlue:rgb(23, 161, 207);
$purple: #2B5BBB;
$yellow: #E5AE49;


//mosoqe colors

$qoba_color: rgb(37, 126, 99);
$house_color: #704f1c;
$doorColor: rgb(224, 194, 24);
$doorColorChanged: white;

//responsive
$maxWidth: 1920px;

//screen sizes
$phoneSize: 812px;
$smallLaptopScreen: $phoneSize;
